.site-footer {
	font-family: $font-sans;
	@include rem(padding-bottom, $scale-3);

	@include responsive(medium-screens) {
		@include rem(padding-top, $scale-4);
	}

	nav a,
	.service-links a {
		display: block;
		border-top: 1px $color-fade solid;
		@include rem(padding, $scale-n2, $scale-n4, $scale-0);
		transition: all .4s ease;

		&:hover,
		&:focus {
			background: $color-primary;
			color: $color-background;
			text-decoration: none;
		}
	}
}

.service-links {
	@include rem(margin-top, $scale-n2);
	@include clearfix;

	li {
		float: left;
		display: block;
		@include grid-two(1, 0);

		&:nth-child(2n+2) {
			margin-left: $gutter-two;
		}
	}

	.username {

		display: none;

		@include responsive(small-screens) {
			display: inline-block;
			color: darken($color-fade, 15%);
			vertical-align: middle;
			@include rem(padding, 0, 0, $scale-n2 - $scale-n4, $scale-n4);
		}

	}

}

.license {
	@include rem(margin-top, $scale-2);

	@include responsive(medium-screens-two) {
		text-align: center;
	}

	img {
		width: auto;
	}
}