.site-intro {
	@include rem(margin-top, $scale-2);

	@include responsive(medium-screens) {
		@include rem(margin-top, $scale-4);
	}

	@include responsive(wide-screens) {
		@include rem( margin-top, $scale-4);
		padding-right: $margin-five-b;
		padding-left: $margin-five-b;
	}

	@include responsive(full-large-screens) {
		padding-right: 0;
		padding-left: 0;
		margin-right: auto;
		margin-left: auto;
		@include rem(max-width, 57.1875);
	}

	h1 {
		text-transform: none;
		border: none;
		letter-spacing: 0;
		@include basetype;
		@include rem(font-size, $scale-1);
		margin-top: 0;

		.u-url {
			color: $color-main;
		}

		.p-name {
			display: inline-block;
		}

	}

	h1,
	.roles {
		display: inline;
		@include rem(font-size, $scale-2);

		@include responsive(medium-screens) {
			@include rem(font-size, $scale-2);
		}

		@include responsive(wide-screens) {
			@include rem(font-size, $scale-3);
		}

		@include responsive(full-large-screens) {
			@include rem(font-size, $scale-4);
		}

		.role {
			display: inline-block;
		}
	}
}

.home #journal {
	@extend .reading-width;

	@include responsive(medium-screens) {
		@include rem(margin-top, $scale-4);
	}
}

.posts-list {
	list-style: none;

	.h-entry {
		display: block;
		@include rem(padding, 0, 0, $scale-2);
	}

	.p-name {
		font-weight: bold;
	}

	time,
	.p-summary {
		color: lighten($color-discreet, 10%);
	}

	time {
		display: block;
		@include rem(margin-bottom, $scale-1);
	}

	.p-summary {
		display: inline;
	}

	.to-section {
		display: inline-block;
		@include rem(padding-left, $scale-n4);
	}
}