body {
	margin: 0 auto;
	max-width: 105em;
}

.site-header,
.site-footer,
[role="main"],
.column-container {
	width: 100%;
	clear: both;
	padding-right: $margin-two;
	padding-left: $margin-two;

	@include responsive(small-screens) {
		padding-right: ($margin-two * 2);
		padding-left: ($margin-two * 2);
	}

	@include responsive(medium-screens) {
		padding-right:  $margin-five-equal;
		padding-left: $margin-five-equal;
	}
	
	@include responsive(medium-screens-two) {
		padding-right: $margin-five-b;
		padding-left: $margin-five-b;
	}

	@include responsive(wide-screens) {
		padding-right: 0;
		padding-left: 0;
	}

	@include responsive(full-large-screens) {
		padding-right: $margin-seven;
		padding-left: $margin-seven;
	}
}

.site-header,
.site-footer {
	@include responsive(wide-screens) {
		padding-right: $margin-five-b;
		padding-left: $margin-five-b;
	}
}

.reading-width	{
	@include responsive(wide-screens) {
		margin-left: auto;
		margin-right: auto;
		width: 56%;
	}
	@include responsive(large-screens) {
		width: 54%;
	}	
}

.title-width {
	
	@include responsive(full-large-screens) {
		@include grid-five(3, 4);
		margin-left: auto;
		margin-right: auto;
		@include rem-fallback( margin-bottom, $scale-5);
		padding-right: 0;
		padding-left: 0;

	}
}
	
.journal-entry {
	header,
	.e-content > * {		
		@include responsive(wide-screens) {
			margin-left: auto;
			margin-right: auto;
			width: 56%;
		}
	}
	
	header {
		@include responsive(wide-screens) {
			@include rem-fallback( margin-top, $scale-2);
		}
	
		@include responsive(full-large-screens) {
			@include grid-five(3, 4);
			margin-left: percentage($column-width-five / $layout-width);
			@include rem-fallback( margin-bottom, $scale-5);
		}
	}
	
	.e-content > * {
		@include responsive(large-screens) {
			width: 54%;
		}	
	}

	.post-info {
		@include rem-fallback(padding-bottom, $scale-2);
	}
}

#disqus_thread,
.author-bio {
	@extend .reading-width;
}

.column-container {
   	display: none;   
	position: fixed;
	top: 0;
	z-index: -99;
	opacity: .1;	
/* 	width: $content-width-two; */

	@include responsive(medium-screens) {
/* 		@include grid-five-equal(5, 4); */
	}
	
	@include responsive(wide-screens) {
		@include grid-five-b(5, 4);	
	}

	@include responsive(large-screens) {
		width: 100%;
	}
}

.column-tester {
	@include grid-two(1, 0);
 	display: block;
	float: left;
	background-color: $color-primary;
	height: 4000px;

	@include responsive(medium-screens) {
			@include grid-five-equal(1, 0);	
	}


	@include responsive(wide-screens) {
			@include grid-five-b(1, 0);	
	}

	@include responsive(large-screens) {
//			width: 14.27%
			@include grid-seven(1, 0);	
	}

/*
	+ .column-tester {
		display: none;
	}
*/
	+ .column-tester {
		margin: 0 0 0 $gutter-two;	
			display: block; 

		@include responsive(meduim-screens) {
			margin: 0 0 0 $margin-five-equal;	
		}

		@include responsive(wide-screens) {
			margin: 0 0 0 $gutter-five-b;	
		}

		@include responsive(large-screens) {
			margin: 0 0 0 percentage($gutter-seven/$layout-width);	
		}
	}
}

img,
iframe,
video {
	width: 100%;	
}

figure {

	&.tweet {
			@include rem-fallback(margin-bottom, $scale-1);
	}

	&.wide,
	.js &.media {
		margin-right: -$gutter-two;
		margin-left: -$gutter-two;
		
		figcaption {
			padding-right: $gutter-two;
			padding-left: $gutter-two;
		}
		
		@include responsive(small-screens) {
			margin-right: -7%;
			margin-left: -7%;
					
			figcaption {
				padding-right: ($gutter-two * 2 );
				padding-left: ($gutter-two * 2 );
			}
		}
		
		@include responsive(medium-screens) {
			@include rem-fallback(margin-top, $scale-2);
			margin-right: -20%;
			@include rem-fallback(margin-bottom, $scale-2);
			margin-left: -20%;
					
			figcaption {
				padding-right: $margin-five-equal;
				padding-left: $margin-five-equal;
			}
		}
	
		@include responsive(medium-screens-two) {
			@include rem-fallback(margin-top, $scale-3);
			margin-right: -21%;
			margin-left: -21%;
					
			figcaption {
				padding-right: ($gutter-two * 2 );
				padding-left: ($gutter-two * 2 );
			}
		}
		
		@include responsive(wide-screens) {
			width: 100% !important;
			margin-right: auto;
			margin-left: auto;
					
			figcaption {
				padding: 0;			
			}
			
			&.central figcaption {
				text-align: center;
			}
		}
	}
}