.site-intro {
	@include rem(margin-top, $scale-2);

	@include breakpoint($s) {
		@include rem(margin-top, $scale-4);
	}

	@include breakpoint($l) {
		@include rem( margin-top, $scale-4);
		padding-right: $margin-five-b;
		padding-left: $margin-five-b;
	}

	@include breakpoint($xxl) {
		@include rem(margin-top, $scale-7);
		margin-right: auto;
		margin-left: auto;
		padding-right: 0;
		padding-left: 0;
		@extend .title-width;
	}

	h1 {
		margin-top: 0;

		.u-url {
			color: $color-main;
		}

		.p-name {
			display: inline-block;
		}
	}

	h1,
	.roles {
		border: none;
		letter-spacing: 0;
		font-family: $font-serif;
		font-weight: normal;
		text-transform: none;
		color: $color-main;
		display: inline;
		@include rem(font-size, $scale-1);

		@include breakpoint($s) {
			@include rem(font-size, $scale-2);
			@include rem(line-height, $scale-3);
		}

		@include breakpoint($l) {
		}

		@include breakpoint($xxl) {
		 	@include rem(font-size, $scale-2);
		 	color: #000;
 		}
	}
}

.wf-active .role-detentionlogs {
	display: inline-block;

	@media only screen and (min-width: 21em) {
		display: inline;
	}
}

.wf-active .role-collagraph,
.wf-active .role-detentionlogs {
	@media only screen and (min-width: 64.4375em) {
		display: inline-block;
	}

	@include breakpoint($xxl) {
		display: inline;
	}

	@media only screen and (min-width: 87.375em) {
		display: inline-block;
	}
}

.home #journal {

	@include breakpoint($s) {
		@include rem(margin-top, $scale-4);
	}

	@include breakpoint($l) {
		margin-left: auto;
		margin-right: auto;
		padding-right: $margin-five-b;
		padding-left: $margin-five-b;
	}

	@include breakpoint($xxl) {
		@extend .title-width;
		// padding-right: 0;
		// padding-left: 0;
	}
}

.posts-list {
	list-style: none;

	.h-entry {
		display: block;
		@include rem(padding, 0, 0, $scale-2);
	}

	.p-name {
		font-weight: bold;
	}

	time,
	.p-summary {
		color: lighten($color-discreet, 10%);
	}

	time {
		display: block;
		@include rem(margin-bottom, $scale-1);
	}

	.p-summary {
		display: inline;
	}

	.to-section {
		display: inline-block;
		@include rem(padding-left, $scale-n4);
	}
}