
.post-meta {
    @include supporting;
    font-style: italic;
    @include rem(font-size, $scale-0);

    .journal-header & {
        display: block;
        @include rem(margin-top, $scale-n4);
    }
}

.journal-header .author {
    color: $color-discreet;
}

.journal-entry .e-content {

/*
    > p:first-child::first-letter {
        display: inline-block;
        float: left;
        @include rem(font-size, $scale-5);
        @include rem(padding, 0, $scale-n3, 0, 0);
        margin: 0;
    }
*/

    &:after {
        @include rem(font-size, $scale-2);
        @include rem(padding-top, $scale-n1);
        display: block;
        clear: both;
        width: 100%;
        content: "* * *";
        text-align: center;
    }
}

/*
.journal-entry .e-content > p:last-child:after {
    @include rem( font-size, $scale-2);
    padding-left: .2em;
    color: $color-complimentary;
    content: "\25FC";
    vertical-align: middle;
    font-style: normal;
}
*/