
[role="main"] {
    padding-right: gutter-span();
    padding-left: gutter-span();
    @include grid-span(2, 1, 2);

    @include breakpoint($xs) {
        padding-right: gutter-span();
        padding-left: gutter-span();
    }

    @include breakpoint($s) {
        @include isolation-span(5, 2, 'both', $grid: 7);
        padding-right: 0;
        padding-left: 0;
    }

    @include breakpoint($m) {
        @include isolation-span(5, 2, 'both', $grid: 7);
    }

    @include breakpoint($l) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.reading-width  {
    @include breakpoint($l) {
        margin-left: auto;
        margin-right: auto;
        width: 56%;
    }
    @include breakpoint($xl) {
        width: 54%;
    }
}

.page-body {
    header,
    .e-content > *,
    .entry-footer {
        @include breakpoint($l) {
            margin-left: auto;
            margin-right: auto;
            @include isolation-span(5, 3, 'both', $grid: 9);
        }
    }

    header {
        @include breakpoint($l) {
            @include rem( margin-top, $scale-2);
        }

        @include breakpoint($xxl) {
            @include isolation-span(7, 4, 'both', $grid: 13);
            // margin-left: percentage($column-width-five / $layout-width);
            @include rem( margin-bottom, $scale-5);
        }
    }

    .e-content > *,
    .entry-footer {
        @include breakpoint($xxl) {
            @include isolation-span(5, 5, 'both', $grid: 13);
        }
    }
}