.scrap {

	@include clearfix;

	.short-post {
		@include rem( font-size, $scale-05);
	}

	.medium-post {

	}

	.long-post {

	}

	.e-content {

		@include breakpoint($l) {
				@include grid-five(3, 2);
				margin: 0 $gutter-five 0 0;
				padding: 0;
				float: left;
				clear: left;
		}
	}

	blockquote {

		font-family: $font-serif;

		quotes: "\201C" "\201D";
		&:before {
			content: open-quote;
/* 			content: "\003e"; */
			display: inline-block;
			float: left;
			margin: 0 0 0 -30px;
			@include rem(font-size, ($scale-7));
			font-family: $font-serif;
		}
//
//		&:after  { content: close-quote }
	}

	h1 {
		@include rem( font-size, $scale-05);
		@include rem( line-height, $scale-2);
	}

	cite {
    	text-align: left;
    	display: inline;
    	&:before {
	    	content: none;
    	}
	}

	.p-author {
		&:before {
    		content:"\2014";
    	}
	}

	.cite-text {
		display: block;
	}

	figcaption {
		margin: #{$scale-0}em 0 0;
		font-family: $font-sans;

		time {
			display: inline-block;
		}

	}

	footer,
	figcaption,
	nav {

		@include breakpoint($l) {
				@include grid-five(2, 1);
				float: right;
				clear: right;
		}

	}



}