@import "breakpoint";
@import "singularitygs";
@import "modular-scale";

@import "mixins";

@import "variables";

$xs:  30em;
$s: 40em;
$m: 47em;
$l:  55em;
$xl: 60em;
$xxl: 85em;

$grids: 2;
$gutters: .07;

$grids: add-grid(2 at $xs);
$gutters: add-gutter(.14 at $xs);

$grids: add-grid(7 at $s);
$gutters: add-gutter(.2 at $s);

$grids: add-grid(9 at $l);
$gutters: add-gutter(.2 at $l);

$grids: add-grid(13 at $xxl);
$gutters: add-gutter(.2 at $xxl);

@include grid-toggle;

// @typestacks
// -------------------------------------------------------------------------------*/
$font-sans: "ff-meta-web-pro", "Open Sans", helvetica, Verdana, sans-serif ;
$font-serif: "ff-meta-serif-web-pro", georgia, serif;

@import "grids";

@import "reset";

@import "typebase";
@import "layout";

@import "header";
@import "footer";
@import "navigation";

@import "scrapbook";
@import "journal";

@import "home";

@import "audio-player";
// @import "sharelinks";
@import "tools";

@import "print";