---
layout: default
title: "Contact & PGP Information"
description: Contact and PGP public key information for Luke Bacon.
permalink: contact/
---

<address class="h-card">
    <p>Contact <span class="p-name">Luke Bacon</span>:</p>

    <dl>
        <dt>Email</dt>
            <dd><a class="u-email" href="mailto:luke@equivalentideas.com" title="Email me">luke@equivalentideas.com</a></dd>
        <dt>PGP</dt>
            <dd><a class="u-key" href="https://github.com/equivalentideas/home/raw/gh-pages/lukebacon.asc" title="The public key necessary for contacting me using PGP encryption.">Download Public Key</a></dd>
            <dd>Fingerprint: CBC3 7289 BBE0 B7C4 A85D E7DD 4266 1780 9EB9 2EED</dd>
    </dl>
</address>
