---
layout: home
title: Equivalent Ideas, the online home of Luke Bacon.
description: Luke Bacon is a designer at Collagraph, co-founder of Detention Logs and is based in Sydney, Australia.
thumbnail: /assets/build/lukebacon.jpg
permalink: /
---

<header class="site-intro">
    <h1><a href="http://equivalentideas.com" class="u-url url">Equivalent Ideas</a> is the evolving online home of <span class="p-name fn">Luke Bacon</span>,</h1> <span class="roles"><span class="role-collagraph">designer at <a href="http://collagraph.com.au" title="Web design partnership based in Sydney, Australia." class="u-url org">Collagraph</a></span>, <span class="role-detentionlogs">co-founder of <a href="http://detentionlogs.com.au" title="An independent project to publish data, documents and investigations that reveal new perspectives on conditions and events inside immigration detention.">Detention Logs</a>.</span></span>
</header>

<section id="journal">
    <h2>Journal</h2>

    <ul class="posts-list xoxo">
        {% for post in site.categories.journal  %}
        <li>
            <article class="h-entry hentry">
                <h3><a href="{{ site.url }}{{ post.url }}" title="See {{ post.title }}" class="u-url p-name bookmark entry-title">{{ post.title }}</a></h3>

                <time class="dt-published published" datetime="{{ post.date | date: '%Y-%m-%-d' }}">{% include date-format.html %}</time>

                {% if post.description %}

                <p class="p-summary entry-summary">{{ post.description }}</p><a href="{{ site.url }}{{ post.url }}" title="See {{ post.title }}" class="to-section">&sect;</a>

                {% endif %}
            </article>
        </li>
        {% endfor %}
    </ul>
    <footer>
        <ul class="feed-links">
            <li>
                <a href="{{ site.url }}/rss.xml" title="Subscribe to a feed of these articles via RSS.">RSS</a>
            </li>
        </ul>
    </footer>
</section>