    <a class="article-audio-heading">Audio Version</a>

    <figure class="article-audio reading">
        <p>Listen to a reading of this article by the author, Luke Bacon.</p>

        <audio controls="controls">
           <source src="{{ page.audio-mp3 }}" type='audio/mpeg; codecs="mp3"'>
           <source src="{{ page.audio-ogg }}" type='audio/ogg; codecs="vorbis"'>
        </audio>

        <p>
            <a href="{{ page.audio-mp3 }}" title="Download {{ page.title }} as an mp3" class="download">Download mp3 {% if page.audio-mp3-size %}[{{ page.audio-mp3-size }}]{% endif %}</a>
        </p>

        <footer>
            <p class="audio-feeds">Subscribe to the audio feed of readings through <a href="http://equivalentideas.com/journal/audio.xml" title="The RSS podcast feed of the audio versions for journal articles">RSS</a> or <a href="" title="The iTunes podcast feed of the audio versions for journal articles">iTunes</a>.</p>
        </footer>
    </figure>