<footer class="site-footer">
    <nav role="navigation">
        <ul>
            {% if page.layout != "home" %}
            <li><a href="/" rel="home">Home</a></li>
            {% endif %}
        </ul>
    </nav>

    <ul class="service-links">
        <li><a href="/contact" rel="me" title="Email me">Contact / PGP</a></li>

        <li><a href="http://twitter.com/equivalentideas" rel="me" title="Luke Bacon at Twitter, @equivalentideas" class="u-url">Twitter<span class="username">/equivalentideas</span></a></li>

        <li><a href="http://github.com/equivalentideas" rel="me" title="View my code projects at Github" class="u-url">Github<span class="username">/equivalentideas</span></a></li>

        <li><a href="https://pinboard.in/u:equivalentideas" rel="me" title="View my bookmarks on Pinboard." class="u-url">Pinboard<span class="username">/equivalentideas</span></a></li>

        <li><a href="http://huffduffer.com/LukeBacon" rel="me" title="Follow podcasts I've huff duff'd on Huffduffer." class="u-url">Huffduffer<span class="username">/LukeBacon</span></a></li>

        <li><a href="http://www.freesound.org/people/lukebacon/" rel="me" title="Access my sound recordings at Freesound, open sound recording archive" class="u-url">Freesound.org<span class="username">/lukebacon</span></a></li>

        <li><a href="https://www.linkedin.com/pub/luke-bacon/9a/7b9/192" rel="me" title="Connect on Linkedin." class="u-url">Linkedin<span class="username">/luke-bacon</span></a></li>

        <li><a href="http://luke-bacon.bandcamp.com/" rel="me" title="Listen to music I've made on Bandcamp." class="u-url">Bandcamp<span class="username">/luke-bacon</span></a></li>
    </ul>

    <p class="license"><a href="/copyright" rel="license" title="The full copyright license for this website.">Copyright license: Creative Commons Attribution-NonCommercial 4.0</a></p>

</footer>
