<footer class="site-footer">
    <nav role="navigation">
        <ul>
            {% if page.layout != "home" %}
            <li><a href="/" rel="home">Home</a></li>
            {% endif %}
        </ul>
    </nav>

    <ul class="service-links">
        <li><a href="&#x6d;&#x61;&#105;&#x6c;&#116;&#111;&#x3a;&#x6c;&#x75;&#x6b;&#101;&#64;&#x65;&#x71;&#x75;&#x69;&#118;&#x61;&#x6c;&#101;&#110;&#x74;&#x69;&#100;&#101;&#x61;&#115;&#x2e;&#x63;&#x6f;&#x6d;" rel="me" title="Email me" class="u-email">Email</a></li>

        <li><a href="http://twitter.com/equivalentideas" rel="me" title="Luke Bacon at Twitter, @equivalentideas" class="u-url">Twitter<span class="username">/equivalentideas</span></a></li>

        <li><a href="http://github.com/equivalentideas" rel="me" title="View my code projects at Github" class="u-url">Github<span class="username">/equivalentideas</span></a></li>

        <li><a href="http://www.freesound.org/people/lukebacon/" rel="me" title="Access my sound recordings at Freesound, open sound recording archive" class="u-url">Freesound.org<span class="username">/lukebacon</span></a></li>

        <li><a href="http://readmill.com/Equivalentideas" rel="me" title="See what I'm reading at Readmill, social ebook reader." class="u-url">Readmill<span class="username">/equivalentideas</span></a></li>

        <li><a href="http://luke-bacon.bandcamp.com/" rel="me" title="Listen to music I've made on Bandcamp." class="u-url">Bandcamp<span class="username">/luke-bacon</span></a></li>
    </ul>

    <p class="license"><a href="/copyright" rel="license" title="The full copyright license for this website.">Copyright license: Creative Commons Attribution-NonCommercial 4.0</a></p>

</footer>
