<footer class="site-footer">
	<nav>
		<ul>
			<li><a href="/about" title="About Equivalent Ideas and Luke Bacon.">About</a></li>
			<li><a href="/journal" title="">Journal</a></li>
			<li><a href="/scrapbook" title="">Scrapbook</a></li>
		</ul>
	</nav>
	
	<ul class="profile-links">
		<li><a href="mailto:luke@equivalentideas.com" rel="me">Email</a></li>
		<li><a href="http://twitter.com/equivalentideas" rel="me">Twitter</a></li>
		<li><a href="http://github.com/equivalentideas" rel="me">Github</a></li>
		<li><a href="http://freesound.org" rel="me">Freesound</a></li>
		<li><a href="http://readmill.com" rel="me">Readmill</a>	</li>
	</ul>
		
	<p class="license">The content of this website is produced by Luke Bacon unless otherwise cited. Works by Luke Bacon published on this site is available for your use under a creative commons ... license. Attribution, non-commercial license. This means you may republish and remix this work in non-commerial contexts as long as you site Luke Bacon as the author and provide a link to this site. If you are interested in republishing this work I'd love to heard about it, maybe I can provide some assistance.</p>
	
</footer>

<div class="column-container">
	<div class="column-tester"></div>
	<div class="column-tester"></div>
	<div class="column-tester"></div>
	<div class="column-tester"></div>
	<div class="column-tester"></div>
	<div class="column-tester"></div>
	<div class="column-tester"></div>
</div>