        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js?ver=3.5.2"></script>
        <!-- Fallback if CDN fails -->
        <script type="text/javascript">
	        if (typeof jQuery == 'undefined') {
	            document.write(unescape('%3Cscript type="text/javascript" src="{{ site.url }}/js/libs/jquery.min.js"%3E%3C/script%3E'));
	        }
        </script>
        <!-- Include respond.js for < IE 9 -->
        <!--[if lt IE 9]>
            <script src="{{ site.url }}/js/respond.min.js"></script>
            <script src="{{ site.url }}/js/html5shiv.min.js"></script>
        <![endif]-->

		<script src="/js/build/production.js"></script>

		<script>
			var _gaq=[["_setAccount","UA-16188388-7"],["_trackPageview"]];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
			g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
			s.parentNode.insertBefore(g,s)}(document,"script"));
		</script>
    </body>
</html>