<!doctype html>

<html class="no-js" lang="en-AU" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="UTF-8">

        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
        <!--[if IE ]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->

        <title>{% if layout == "home" %}{{ page.title }}{% else %}{{ page.title }} | {{ site.name }}{% endif %}</title>

        <meta name="author" content="{{ site.author}}" />

	    <meta name="description" content="{{ page.description }}" />

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon.png">

        <!-- Mobile viewport fix -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Robots -->
        <meta name="robots" content="follow,index">

        <!-- Twitter -->

        <meta name="twitter:card" content="content">
        <meta name="twitter:site" content="{{ site.twitter }}">
        <meta name="twitter:title" content="{% if layout == home %}{{ page.title }}{% else %}{{ page.title }} | {{ site.name }}{% endif %}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:domain" content="{{ site.url }}{{ page.url }}">

        <!--[if lt IE 9]>
        <script src="{{ site.url }}/js/html5shiv.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="/css/style.css" type="text/css" />

	</head>