<!doctype html>

<html class="no-js" lang="en-AU" prefix="og: http://ogp.me/ns#">

    <head>

        <meta charset="UTF-8">

        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
        <!--[if IE ]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->

        <title>{{ page.title }}{% if site.categories.quotes %} | Quotes Book, {% else %} |{% endif %} {{ site.name }}</title>

        <meta name="author" content="Luke Bacon" />
        
	    <meta name="description" content="{% if layout == 'quote' %}{{ page.content }}{% else %}{{ page.description }}{% endif %}" />

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon.png">

        <!-- Mobile viewport fix -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Robots -->
        <meta name="robots" content="follow,index">

        <!-- Twitter -->
        <meta name="twitter:card" content="content">
        <meta name="twitter:site" content="{{ site.twitter }}">
        <meta name="twitter:title" content="{{ page.title }}{% if page.layout == "default" %} | {{ site.title }} : {{ include.report_number }}{% endif %}">
        {% if page.description %}<meta name="twitter:description" content="{{ page.description }}">{% else %}<meta name="twitter:description" content="{{ page.content }}">{% endif %}
        <meta name="twitter:domain" content="{{ site.url }}{{ page.url }}">

        <!--[if lt IE 9]>
        <script src="{{ site.url }}/js/html5shiv.min.js"></script>
        <![endif]-->
        <!-- tell iphones not to interpret numbers as phone numbers -->

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        
	</head>