 <!-- Twitter Card -->
{% if page.thumbnail %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="{{ site.url }}{{ page.thumbnail }}">{% else %}
<meta name="twitter:card" content="summary">{% endif %}
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:domain" content="{{ site.url }}">        <meta name="twitter:title" content="{% if page.layout == 'home' %}{{ page.title }}{% else if page.short-title %}{{ page.short-title }}{% else %}{{ page.title }}{% endif %}">
