 <!-- Twitter Card -->
{% if page.thumbnail %}
<meta name="twitter:card" content="content">
<meta name="twitter:image:src" content="">{% else %}
<meta name="twitter:card" content="summary">{% endif %}
<meta name="twitter:site" content="{{ site.twitter }}">
<meta name="twitter:title" content="{% if page.layout == home %}{{ page.title }}{% else %}{{ page.title }} | {{ site.name }}{% endif %}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:domain" content="{{ site.url }}">
