{% include html-header.html %}

<body class="post">

    {% include header.html %}

    <div role="main">
        <article class="h-entry reading journal-entry hentry">
            <header>
                <h1 class="p-name"><a href="{{page.url}}" class="u-url entry-title bookmark" xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{ page.title }}</a></h1>

                <time class="dt-published published" datetime="{{ page.date | date: '%Y-%m-%-d' }}">
                    {% assign d = page.date | date: "%-d" %} {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %} {{ page.date | date: "%B" }} {{ page.date | date: "%Y" }}
                </time>
            </header>

            <section class="e-content entry-content">
                {{ content }}
            </section>
        </article>

        <footer class="post-meta">

            {% include social.html %}

            <p class="author-bio author vcard">{% include short-about.html %}</p>

            <ul class="feed-links">
                <li>
                    <a href="{{ site.url }}/rss.xml" title="Subscribe to a feed of these articles via RSS.">RSS</a>
                </li>
            </ul>
        </footer>
    </div>

    {% include footer.html %}
{% include html-footer.html %}